<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

<style type="text/css">
  .flash-mt{
    margin-top: 20px;
  }
  .bg-steel {
  background-color: #5f788a;
}
/*.body-background{
  background-color: #eef0e9;
}*/

.body-align{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.s-btn{
  background-color: #ffffff;
  color: #5f788a;
  outline: none;
  border: 1px solid #5f788a;
  padding: 8px;
  border-radius: 5px;
}

.s-btn:hover{
  background-color: #5f788a;
  color: #ffffff;
  cursor: pointer;
}

.s-btn:focus{
  outline: none;
}

.align-c{
  text-align: center;
}

.s-th{
  background-color: #5f788a;
  color: #ffffff;
}

.table{
  border-radius: 10px;
  /*border: 1px solid #5f788a;*/
}

.s-align-l{
  text-align: left;
}
  
</style>
</head>
<body class="body-background">
    <header class="site-header">
      <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top ">
        <div class="container justify-content-center align-items-center">
          <a class="navbar-brand mr-4 font-weight-bold" href="/additem">Sadguru's Amrit Tulya Tea Shop</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          
        </div>
      </nav>
    </header>
    <main role="main" class="container">
      <div class="row justify-content-center align-items-center">
        <div class="col-md-8 align-c">
          <button type="button" class="s-btn mb-4" data-toggle="modal" data-target="#exampleModal">
            Add Item
          </button>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
              {% for category, message in messages %}
                <div class="alert alert-{{ category }} flash-mt">
                  {{ message }}
                </div>
              {% endfor %}
            {% endif %}
          {% endwith %}

          <table class ="table">
            <thead class="s-th">
              <tr>
                <th></th>
                <th>Item</th>                
                <th>Price</th>
                <th>Delete</th>
              </tr>
            </thead>
            <tbody>
              {% for item in items %}
              <tr class="s-tr">
                <td>
                  <div class="media" >
                      <img src="{{ '../'+item.image_file}}" width="80px" height="70px">          
                  </div> 
                </td>                
                <td class="s-tr"><p><a href="/item/{{ item.id }}">{{item.name}}</a></p></td>
                <td>{{item.price}}</td>
                <td><a href = "/delete/{{item.id}}/{{item.name}}"><button class= "btn btn-danger">Delete</button></a></td>
              </tr>
              {% endfor %}  

            </tbody>
          </table>          
          

          <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New Item</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="s-align-l">
                  

                  {% block content %}{% endblock %}                
                  
                </div>
                
              </div>
            </div>
          </div>
          
        </div>
        
      </div>
    </main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>